hr {
    border: 0;
    border-bottom: 1px solid #999;
    margin-top:10px;
    margin-bottom:10px;
}
#header {
	margin: 10px 10px 0 10px
}
#footer {
	margin: 0 10px 10px 10px
}#title {
	margin-bottom: .5em;
	color: #2f2f2f;
	font-size:30px;
	font-weight:bold;
}
.info{
	color:#c0c0c0;
	font-size: 90%;
}
#content {
	font-size: 100%;
}
#content p.img_desc {
    color: #888;font-size:80%;line-height:1.5;margin-top:1.5em;
}
.post-container .meta{font-size:14px;border-bottom: 1px solid #abd4d4;padding-bottom: 30px;}
.post-container .meta .avatar{display:inline;margin-right:10px;border-radius:50%;vertical-align:middle;}
.post-container .meta .pipeline{margin:0 2px;}
.post-container .meta span{color:#888;}
.post-container a:hover {
    border-bottom: 1px dotted;
}
.post-body {
    margin-top: 2em;
    margin-bottom: 40px
}
.post-ft {
    margin-bottom: 30px;
    color: #888;
}
#share {
    margin-top: 25px;
}
#share .bn-sharing {
    position: relative;
    padding: 6px 32px 6px 14px;
    background-image: none!important;
    background: #23c4ae;color:#fff;
    font-size: 13px
}
#share.bn-sharing:after {
    content: "\0020";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    top: 11px;
    left: 61px;
    border: 6px solid #58999d;
    border-color:#fff #23c4ae #23c4ae;
    font-size: 0;
}
#share.bn-sharing:hover {
    border-bottom: 0;
    text-decoration: none;
}
#share.bn-sharing-on:after {
    top: 5px;
    border-color: #23c4ae #23c4ae #fff;
}
#db-div-sharing {
    font-size: 13px
}
.bs-docs-container img {
    max-width: 100% ;
    height: auto;
    display: block;
}
.footer {
    border-top: 1px solid#abd4d4;
    padding-top: 60px;
    text-align: center;
}
.footer .copyright {
    border-top: 1px dashed#dad5cc;
    padding: 1em 0;
    margin-top: 50px;
    color: #888;
    font-size:14px;
}

.download{
	overflow:hidden;
	*zoom:1;
	position: fixed;
    padding: 20px;
    width: 280px;
    left: 70%;
    top: 100px;
    background-color: #eaefee;
}
.download .qrcode{width:150px;float:left;margin-left:40px;}
.download .qrcode p{margin:0;font-size:12px;text-indent:7px;}
.download .qrcode p span{
	color:#888;
    font-size: 12px;
}
.download .intro { 
    text-align: left;
}
.download .intro h3 {
    font-size: 23px;
}
.download .prestoicon-android, .download .prestoicon-apple {
    display: inline-block;
    /*margin- bottom: 40px*/
}
.download .prestoicon-android:before, .download .prestoicon-apple:before {
    font-size: 20px;
}
.download .prestoicon-apple {
    margin-right: 30px;
}
.img_hr {
    display: none;
}
.content_img {
    margin: 3em 0;
}
@media(max-width: 480px) {
	#share {
        display: none;
    }
}
@media(max-width: 480px) {
	.footer .qrcode {
        float: none;
        width: auto;
        margin-left: 0;
        margin-bottom: 40px;
    }
}
@media(max-width: 480px) {
	.footer .copyright{ 
        font-size: 12px;
        text-align: left;
    }
}
.barlittle {
      background-color: #23c4ae;
      /*background-image: -moz-linear-gradient(45deg, #49E76F  25%, #A0FFD9);
      background-image: -webkit-linear-gradient(45deg, #49E76F  25%, #A0FFD9);
      border-left: 1px solid #111;
      border-top: 1px solid #111;
      border-right: 1px solid #333;
      border-bottom: 1px solid #333;*/
      width: 10px;
      height: 10px;
      float: left;
      margin:5px 0 0 5px;
      opacity: 0.1;
      -moz-transform: scale(0.7);
      -webkit-transform: scale(0.7);
      -moz-animation: move 1s infinite linear;
      -webkit-animation: move 1s infinite linear;
  }

  #block_1 {
      -moz-animation-delay: .4s;
      -webkit-animation-delay: .4s;
  }

  #block_2 {
      -moz-animation-delay: .3s;
      -webkit-animation-delay: .3s;
  }

  #block_3 {
      -moz-animation-delay: .2s;
      -webkit-animation-delay: .2s;
  }

  #block_4 {
      -moz-animation-delay: .3s;
      -webkit-animation-delay: .3s;
  }

  #block_5 {
      -moz-animation-delay: .4s;
      -webkit-animation-delay: .4s;
  }

  @-moz-keyframes move {
      0% {
          -moz-transform: scale(1.2);
          opacity: 1;
      }

      100% {
          -moz-transform: scale(0.7);
          opacity: 0.1;
      };
  }

  @-webkit-keyframes move {
      0% {
          -webkit-transform: scale(1.2);
          opacity: 1;
      }

      100% {
          -webkit-transform: scale(0.7);
          opacity: 0.1;
      };
  }